.file-upload-button {
    margin-right: 10px; /* Buton ile metin alanı arasına boşluk ekler */
}

.btn-icon {
    display: flex;
    align-items: center;
}

.btn-icon i {
    margin-right: 5px; /* İkon ile metin arasında boşluk */
}

.custom-file-input {
    display: none;
}

.file-upload-container {
    display: flex;
    align-items: center;
}

.file-upload-button {
    margin-right: 10px; /* Buton ile metin alanı arasına boşluk ekler */
    white-space: nowrap; /* Metnin bir satırda kalmasını sağlar */
}

.thumbnail-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 600px;
    margin-bottom: 16px; /* Her bir div arasında boşluk */
    position: relative; /* Büyüyen resmi modalın üstünde göstermek için */
}

.thumbnail-container p {
    flex: 1;
    margin: 0;
    font-size: 16px;
    color: #333;
}

.thumbnail-container button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.thumbnail-container img {
    width: 100px; /* Resmin genişliği */
    height: 100px; /* Resmin yüksekliği */
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px; /* Resmin metin ve düğme arasındaki boşluk */
    position: relative; /* Modal içindeki konumlandırma */
    z-index: 1; /* Normal durumda z-index */
}

.thumbnail-container video {
    width: 100px; /* Resmin genişliği */
    height: 100px; /* Resmin yüksekliği */
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px; /* Resmin metin ve düğme arasındaki boşluk */
    position: relative; /* Modal içindeki konumlandırma */
    z-index: 1; /* Normal durumda z-index */
}

/* Çarpı butonu stili */
.thumbnail-container .remove-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.thumbnail-container .remove-btn:hover {
    background: #f8f9fa;
}

.thumbnail-container .remove-btn::before {
    content: "×";
    font-size: 16px;
    color: red;
}
