 <li class="nav-item">
     <a href="#" class="nav-link">
         <i class="nav-icon fas fa-cogs"></i>
         <p>
             Ayarlar
             <i class="right fas fa-angle-left"></i>
         </p>
     </a>
     <ul class="nav nav-treeview">
         <li class="nav-item">
             <a href="/User" class="nav-link navigation">
                 <i class="fa fa-users nav-icon"></i>
                 <p>Kullanıcı</p>
             </a>
          </li>
     </ul>
</li>